@page "/Devices"
@using System.Collections.ObjectModel;
@inject IDeviceData deviceData
@inject NavigationManager navigationManager
@inject IGridStateData gridStateData

<PageTitle>Devices</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Devices</h2>
    <div class="btn-group me-2">
        <AuthorizeView Roles="ITAMSAdmin,ITAMSEdit">
            <Authorized>
                <button type="button" class="btn btn-primary" @onclick="HandleCreateButtonClick">Create Device</button>
            </Authorized>
        </AuthorizeView>

    </div>
</div>

@if (deviceList == null)
{
    <h4>Loading...</h4>
}
else
{
    <TelerikGrid Data="@deviceList" Pageable="true" Sortable="true" FilterMode="@GridFilterMode.FilterMenu"
             Resizable="true" ShowColumnMenu="true" Reorderable="true" Groupable="true" PageSize="10" @ref="Grid">

        <GridToolBarTemplate>
            <GridSearchBox Width="300px;"/>
            <GridCommandButton Command="ExcelExport">Export to Excel</GridCommandButton>
            <TelerikTextBox Name="Report Name" @bind-Value="@ReportName"/>
            <GridCommandButton OnClick="HandleSaveReportButtonClick">Save Report</GridCommandButton>
            <TelerikDropDownList Data="@gridStateList" TextField="StateName" ValueField="Id" @bind-Value="@SelectedReportId" DefaultText="-select a report-" OnChange="HandleGridStateDropDownOnChange" Width="250px;">
                <DropDownListSettings>
                <DropDownListPopupSettings Height="auto"></DropDownListPopupSettings>
                </DropDownListSettings>
            </TelerikDropDownList>
        </GridToolBarTemplate>
        <GridColumns>
            <GridCommandColumn Width="70px" Context="dataItem">
                <AuthorizeView Roles="ITAMSAdmin,ITAMSEdit">
                    <Authorized>
                        <GridCommandButton ThemeColor="primary" Command="EditDevice" OnClick="@( () => HandleEditButtonClick(dataItem as IDevicesWithLookupsModel) )">Edit</GridCommandButton>
                    </Authorized>
                </AuthorizeView>
            </GridCommandColumn>

            <GridColumn Field="Id" Width="100px"/>
            <GridColumn Field="DeviceName" Title="Device Name" Width="250px" />
            <GridColumn Field="DeviceFunction" Width="250px" Title="Device Function" />
            <GridColumn Field="TypeName" Width="150px" Title="Device Type" />
            <GridColumn Field="Manufacturer" Width="200px" />
            <GridColumn Field="Model" Width="250px" />
            <GridColumn Field="Poc" Width="250px" Title="POC"/>
            <GridColumn Field="LocationName" Width="150px" Title="Location"/>
            <GridColumn Field="Floor" Width="150px" />
            <GridColumn Field="Room" Width="150px" />
            <GridColumn Field="NetworkName" Width="150px" Title="Network" />
            <GridColumn Field="PackageName" Width="150px" Title="RMF Package" />
            <GridColumn Field="CreatedDate" Width="150px" Title="Created Date" />
            <GridColumn Field="CreatedBy" Width="150px" Title="Created By"/>
            <GridColumn Field="ModifiedDate" Width="150px" Title="Modified Date" />
            <GridColumn Field="ModifiedBy" Width="150px" Title="Modified By" />

        </GridColumns>
    </TelerikGrid>
}

    <DeviceFormModal Id="deviceId" WindowVisible="@windowVisible" OnSubmitted="HandleOnSubmitted"></DeviceFormModal>


<TelerikNotification @ref="@Notification" VerticalPosition="NotificationVerticalPosition.Bottom" HorizontalPosition="NotificationHorizontalPosition.Right" />