@page "/Devices/DeviceFormModal/{Id:int}/{WindowVisible:bool}"
@using Microsoft.AspNetCore.Identity;
@inject IDeviceData deviceData
@inject IDeviceTypeData deviceTypeData
@inject UserManager<IdentityUser> userManager

<TelerikWindow Centered="true" @bind-Visible="@WindowVisible" Modal="true" Width="70%" Height="90%">
    <WindowTitle>
        Device Form
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
        <WindowAction Name="Maximize" />
    </WindowActions>
    <WindowContent>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Device Details</h2>
            <div class="mb-2 mb-md-0">
                @if (Id > 0)
                {
                    <button type="submit" class="btn btn-primary" form="form">Save</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" form="form">Create</button>
                }

            </div>
        </div>

        <TelerikForm Model="@device" Columns="2" ColumnSpacing="25px" ValidationMessageType="@FormValidationMessageType.Tooltip"
                     Id="form" OnValidSubmit="HandleValidSubmit">
            <FormValidation>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidation>

            <FormItems>
                @if (Id > 0)
                {
                    <FormItem Field="Id" Enabled="false"></FormItem>
                }

                <FormItem Field="DeviceName"></FormItem>

                <FormItem>
                    <Template>
                        <label class="mb-2" for="deviceType">Device Type:</label>
                        <TelerikDropDownList Data="@deviceTypes" TextField="TypeName" ValueField="Id" @bind-Value="@device.DeviceTypeId" Id="deviceType">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="auto" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    </Template>
                </FormItem>

                <FormItem Field="Poc"></FormItem>
                <FormItem Field="Model"></FormItem>
                <FormItem Field="ManufacturerId"></FormItem>                          
                <FormItem Field="LocationId"></FormItem>
                <FormItem Field="LocationFloorId"></FormItem>
                <FormItem Field="LocationFloorRoomId"></FormItem>
                <FormItem Field="RmfPackageId"></FormItem>
                <FormItem Field="NetworkId"></FormItem>
                @if (Id > 0)
                {
                    <FormItem Field="CreatedDate"></FormItem>
                    <FormItem Field="CreatedBy"></FormItem>
                    <FormItem Field="ModifiedDate"></FormItem>
                    <FormItem Field="ModifiedBy"></FormItem>
                }
                <FormItem>
                    <Template>
                        <label class="mb-2" for="deviceFunction">Device Function:</label>
                        <TelerikTextArea @bind-Value="@device.DeviceFunction" AutoSize="true" Id="deviceFunction" />
                    </Template>
                </FormItem>
            </FormItems>

            <FormButtons>
            </FormButtons>
        </TelerikForm>


        @if (Id > 0)
        {
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>IP Addresses</h2>          
            </div>

        
            <DeviceIpsGrid DeviceId="@Id"></DeviceIpsGrid>
        }
            
    </WindowContent>
</TelerikWindow>



@code {
    [Parameter]
    public bool WindowVisible { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public EventCallback<string> OnSubmitted { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private IDeviceModel device = new DeviceModel();
    private List<DeviceTypeModel> deviceTypes;
    private IdentityUser currentUser;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            currentUser = await userManager.GetUserAsync(user);
        }
    }

    protected override async Task OnParametersSetAsync()
    {


        if (Id > 0)
        {
            device = await deviceData.GetDeviceById(Id);
        }
        else
        {
            device = new DeviceModel();
        }

        deviceTypes = await deviceTypeData.GetDeviceTypes();

    }

    private async Task HandleValidSubmit()
    {


        if (Id > 0)
        {
            device.ModifiedDate = DateTime.Now;
            device.ModifiedBy = currentUser.UserName;
            await deviceData.UpdateDevice(device);
        }
        else
        {
            device.CreatedDate = DateTime.Now;
            device.CreatedBy = currentUser.UserName;
            await deviceData.CreateDevice(device); 
        }

        CloseWindow();

    }

    public void CloseWindow()
    {
        // for this situation, just mainly using this to create a trigger on the parent component to do stuff from
        OnSubmitted.InvokeAsync("submitted");
    }
}
