@page "/"

<PageTitle>Home</PageTitle>

<h2 class="border-bottom pt-3 pb-2 mb-3">Home</h2>
<div class="row">
    <div class="col-6 shadow-sm">
        <h4>Device Type counts by Network</h4>
        <TelerikChart>
            <ChartSeriesItems>
                <ChartSeries Type="ChartSeriesType.Column" Name="Series 1" Data="@data1">
                </ChartSeries>
                <ChartSeries Type="ChartSeriesType.Column" Name="Series 2" Data="@data2">
                </ChartSeries>
            </ChartSeriesItems>

            <ChartCategoryAxes>
                <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
            </ChartCategoryAxes>
        </TelerikChart>

    </div>
    <div class="col-6 shadow-sm">
        <h4>Online device counts by Network</h4>
            <TelerikChart>
                <ChartSeriesItems>
                    <ChartSeries Type="ChartSeriesType.Column" Name="SYLAN" Data="@data1">
                    </ChartSeries>
                    <ChartSeries Type="ChartSeriesType.Column" Name="SECNET" Data="@data2">
                    </ChartSeries>
                </ChartSeriesItems>

                <ChartCategoryAxes>
                    <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
                </ChartCategoryAxes>
            </TelerikChart>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-6 shadow-sm">
        <h4>Online device counts by Network</h4>
        <TelerikChart>
            <ChartSeriesItems>
                <ChartSeries Type="ChartSeriesType.Column" Name="SYLAN" Data="@data1">
                </ChartSeries>
                <ChartSeries Type="ChartSeriesType.Column" Name="SECNET" Data="@data2">
                </ChartSeries>
            </ChartSeriesItems>

            <ChartCategoryAxes>
                <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
            </ChartCategoryAxes>
        </TelerikChart>

    </div>
    <div class="col-6 shadow-sm">
        <h4>Online device counts by Network</h4>
        <TelerikChart>
            <ChartSeriesItems>
                <ChartSeries Type="ChartSeriesType.Column" Name="SYLAN" Data="@data1">
                </ChartSeries>
                <ChartSeries Type="ChartSeriesType.Column" Name="SECNET" Data="@data2">
                </ChartSeries>
            </ChartSeriesItems>

            <ChartCategoryAxes>
                <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
            </ChartCategoryAxes>
        </TelerikChart>

    </div>
</div>


@code {
    public List<object> data1 = new List<object>() { 1, 2, 3, 4 };
    public List<object> data2 = new List<object>() { 2, 3, 4, 5 };
    public string[] xAxisItems = new string[] { "Q1", "Q2", "Q3", "Q4" };
}